@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

.side-img{
    width: 30%;
    background-image: url(./img/SideImg.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.School-logo{
    width: 40%;
    height: auto;
}

.Mobile-School-logo{
    width: 40%;
    height: auto;
    margin-bottom: 16px;
    display: none;
}

.School-slogans{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.form-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.Main-header{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #004383;
    margin-bottom: 30px;
}

.Main-header span{
    padding-bottom: 5px;
    border-bottom: 3px solid #004383;
}

.Form-group{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #004383;
    color: #fff;
    padding: 10px 100px 7px 20px;
    align-self: flex-start;
    margin-bottom: 0;
}

.Form-section{
    width: 100%;
    border-top: 3px solid #004383;
}

.label-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: block;
    color: #004383;
    margin-bottom: 8px;
}

.Details{
    margin: 0;
    width: 100%;
    border-top: 3px solid #004383;
    padding-top: 12px;
}

.Details-sub-section{
    width: 100%;
    margin-top: 16px;
}

.Input-box{
    width: 100%;
    height: 30px;
    border: 1px solid #004383;
    border-radius: 4px;
} 

.text-area{
    width: 100%;
    height: 100px;
    border: 1px solid #004383;
    border-radius: 4px;
}

.Submit-btn{
    margin: 1rem;
    padding: 0.25rem 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    background-color: #004383;
    border: 2px solid #004383;
}

.Submit-btn:hover{
    background-color: #01274b;
    border: 2px solid #01274b;
  }

.required:after {
    content:" *";
    color: #004383;
  }


@media screen and (max-device-width: 768px) {
    .side-img{
       display: none;
    }
    .Mobile-School-logo{
        display: block;
    }
  }

@media screen and (min-device-width: 1440px) {
    .side-img{
        width: 60%;
    }
    .School-logo{
        width: 33%;
    }
    .School-slogans{
        font-size: 1.5rem;
        padding: 4rem;
    }
}
